.title {
    font-family: "Raleway";
    font-size: 80px;
    font-weight: 600;
    line-height: 1em;
    width: 100%;
    color: #003057;
}

.container {
    position: absolute;
    top: 100vh;
    width: 100vw;
    float: left;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map_content {
    width: 60vw;
    margin: 10vh auto;
}

.map_text_header {
    font-family: "Raleway" !important;
    font-weight: 400;
    color: #003057;
    font-size: 40px;
    text-align: center;
}

.require_content {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width: 60vw;
}

.require_text {
    flex: 0 0 55%;
    margin-right: 5vw;
    text-align: center;
}

.require_text_header {
    font-family: "Raleway" !important;
    font-weight: 400;
    color: #003057;
    font-size: 40px;
}

.require_text_body {
    font-family: "Raleway" !important;
    font-size: 17px;
    color: #457b9d !important;
    font-weight: 200;
}

.require_card {
    flex: 1;
    width: 435px;
    height: 100%;
    background-color: #a8dadc !important;
    align-content: space-around !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.require_card_header {
    font-family: "Raleway" !important;
    font-weight: 400 !important;
    color: #003057 !important;
    font-size: 25px !important;
    text-align: center;
}

.require_card_body {
    font-family: "Raleway" !important;
    font-size: 17px;
    color: #457b9d !important;
    font-weight: 200;
    text-align: center;
    line-height: 1.25em;
    position: relative;
    top: 1em;
}

.landing {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10vh;
    vertical-align: middle;
    width: 100vw;
    height: 90vh;
}

.landingimg {
    position: absolute;
    object-fit: cover;
    width: 50vw;
    height: 100%;
    top: -5%;
    left: 50vw;
}

.titletext {
    float: left;
    text-align: left;
    position: relative;
    width: 40vw;
    height: 50%;
    top: 20%;
    left: 10vw;
}

.subtitle {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 25px;
    color: #457b9d;
}

.button {
    font-family: "Raleway" !important;
    width: 10em;

    border-radius: 80px !important;
    background-color: #6e08d3 !important;
    opacity: 57%;
    color: white !important;
    font-size: 20px !important;
}

.button:hover {
    background-color: #430482 !important;
    opacity: 70%;
}
