.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #a8dadc !important;
    padding: 0 5vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-top: 20vh;
}

.headers {
    font-family: 'Raleway';
    font-weight: 200;
    color: #457B9D;
    text-align: center;
}

.form {
    font-family: 'Raleway' !important;
    font-weight: 200 !important;
    color: #457B9D !important;
}

.form_labels {
    font-family: 'Raleway';
    font-weight: 200;
    color: #457B9D;
    font-size: 25px;
}

.submit_button {
    font-family: "Raleway" !important;
    width: 10em;

    border-radius: 80px !important;
    background-color: #6e08d3 !important;
    opacity: 57%;
    color: white !important;
    font-size: 15px !important;
}

.submit_button:hover {
    background-color: #430482 !important;
    opacity: 70%;
}

.link {
    text-decoration: none !important;
    font-family: 'Raleway' !important;
    font-weight: 200 !important;
    color: #457B9D !important;
    transition: 0.2s;
}

.link:hover {
    color: #70ACD1 !important;
}

.tagline {
    position: relative;
    bottom: 0;
    font-family: 'Raleway';
    font-weight: 200;
    color: #457B9D;
    text-align: center;
}

.line {
    border: 0.5px solid #457B9D;
    opacity: 35%;
    width: 90vw;
}

.contact_form {
    flex: 1;
    width: 30vw;
    margin: 0 10vw;
    margin-bottom: 5vh;
}

.social_media {
    flex: 1;
    width: 30vw;
    margin: 0 10vw;
    height: 100%;
    overflow: hidden;
}

.social_media_icons_group {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.social_media_icons {
    color: #457B9D !important;
    box-sizing: border-box;
    padding: 0px;
    float: left;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 3.5vh;
}

.icon {
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
