.container {
  margin-bottom: 100px;
}

.video {
  margin: 0 auto;
  display: inline-block;
}

.quick_links {
  position: relative;
  font-family: 'Raleway';
  text-align: center;
  color: #003057;
  font-size: 30px;
  padding-top: 10vh;
}

.quick_links_container {
  display: table;
  width: 70%;
  position: static;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 5em;
}

.quick_link {
  display: table-row;
}

.quick_link_text {
  width: 60%;
  display: table-cell;
  vertical-align: top;
}

.quick_link_title {
  font-family: 'Raleway';
  font-size: 25px;
  color: #003057;
}

.quick_link_image {
  display: table-cell;
  text-align: right;
}

.quick_link_body {
  font-family: 'Raleway';
  font-size: 18px;
  color: #457b9d;
  font-weight: 200;
}

.title {
  padding-left: 410px;
  height: 5px;
}